@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/* body {
    font-family: 'Roboto Slab', serif;
} */

/* label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: 0.4rem 0;
} */


main {

    /* background: rgb(17, 17, 30); */
    background: rgb(13, 13, 19);
    background-image: linear-gradient(rgba(1, 1, 1, 0.7), rgba(1, 1, 1, 0.7)), url(../images/Hexagon\ \(1\).svg);
    background-attachment: fixed;
    min-height: 100vh;
    padding: 2rem 1rem;
}

.spiner {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------------------start header-------------------------- */

.navbar {
    background-color: #212529;
    background-image: url(../images/Hexagon\ \(1\).svg);
    color: white;
    border-bottom: 1px solid white;
}


.navbar-nav {
    color: white;
}

.header-logo {
    display: flex;
    align-items: center;
    /*  background-color: #21252900; */
    height: 6rem;

}

.logo-header {
    width: 5rem;
}

.logo-text-header {
    width: 11rem;
}


.container-fluid {
    display: flex;
    flex-direction: row-reverse;
}

.nav-link {
    margin-right: 1rem;
    font-size: 1.1rem;
    color: white;
    border-bottom: 1px solid white;
    border-radius: 2px;

}

.nav-link:hover {
    background: rgba(75, 110, 175, 0.233);
    color: white;
    border-radius: 5px;
    transform: scale(1.1);
    border: 1px solid white;

}



.navbar-brand {
    border: none;
    background-color: transparent !important;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-brand div {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.navbar-brand p {
    margin: 0 !important;
}

.img-usuario {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-menu {
    display: flex;
    justify-content: center;

}

/* -------------------------end header-------------------------- */

/* -------------------------start main-------------------------- */


.container-accounts {
    padding: 2rem;
}

.box-only-accounts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;

}

.container-account {
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 22px;
    transition: all .3s;
}

.box-account-title-info {
    display: flex;
    justify-content: space-between;
}

.box-account {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 17px;
    backdrop-filter: blur(0px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    background-color: #212529 !important;
    color: white;
    width: 350px;
    transition: all .2s;
}



.box-account:hover {
    transform: scale(0.97);
    border-radius: 20px;
}

.container-account:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.click-here:hover {
    color: #00ff75
}

.click-here {
    text-align: center;
    font-size: .8rem;
}

.balance-chart-main {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;

}

#chart {
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    padding: 1.5rem;
}

.container-total-balance {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 17px;
    background-color: #212529;
    backdrop-filter: blur(0px);
    background-color: rgba(0, 0, 0, 0.415);
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    color: white;
    width: 350px;
    min-height: 20rem;
    transition: 1000ms;
}

.container-total-balance:hover {
    transform: scale(1.1);
    transition: 1000ms;
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.container-total-balance h3 {
    text-align: center;
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid white;


}

.box-total-balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container-main-transactions {
    border-radius: 17px;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*  gap: 1rem; */
}

.table-and-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #212529a9;
    backdrop-filter: blur(0px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    border-radius: 17px;
    text-align: center;
    width: 90%;
}

.table-and-title h2 {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid white;
    width: 100%;
    color: white;
}


.container-main-transactions table {
    border-radius: 15px;
    max-width: 90%;

}

.container-loans-and-cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    width: 100%;
}

.container-loans-and-title {
    background-color: #212529a9;
    color: white;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 50vw;
    border-radius: 17px;
}

.container-loans-and-title h2 {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid white;
    width: 100%;
    color: white;
}

.containter-loans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    padding-bottom: 1rem;
}

.box-loans {
    border-radius: 18px;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    transition: all .3s;
    color: white;
    width: 25rem;
}

.box-loan {

    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    background: #212529;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 17px;
    transition: all .2s;
}

.box-loans:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.box-loan:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.container-home-loan-exchange {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;

}

.exchanges-home {
    padding: 1.5rem;
    width: 25rem;
    background-color: #212529a9;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-radius: 17px;
}

.exchanges-home h2 {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid white;
    width: 100%;
    color: white;
}

.box-exchange {
    padding: 1rem;
    color: white;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    background-color: #212529;
    display: flex;
    justify-content: space-around;
    width: 20rem;
    /* border-top: 1px solid white; */
    border-radius: 17px;
}

.class1 {
    color: #f7666e;
}

.class2 {
    color: #00ff75;
}

#chart-1 {
    display: flex;
    align-items: center;
}

#chart-2 {
    display: flex;
    align-items: center;
}

#chart-3 {
    display: flex;
    align-items: center;
}


.container-home-cardDebit-cardCredit {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    margin-top: 3rem;
    padding: 2rem;
    border-radius: 17px;
    width: 90%;
}

.container-home-cardDebit-cardCredit h1 {
    margin-bottom: 3rem;
    padding: 0.5rem;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
}

.box-cards-debit-credit {
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    background: #212529;
    border-radius: 17px;
    padding: 1.5rem;
    width: 30rem;
}

.box-cards-debit-credit h2 {
    padding: 0.5rem;
    border-bottom: 1px solid white;
    width: 100%;
}

.container-cards-render {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 4rem;
}

.container-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
}

.box-cards {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    width: 350px;
}

.img-cards {
    width: 4rem;
    background-color: rgba(255, 255, 255, 0.374);
    border-radius: 15px;
}



/* ------END MAIN------------------------------ */
/*------------------------finish html ACCOUNTS----------------------*/



/*----------------------START CARDS--------------------*/


.subContainer-cards {
    color: white;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.article-card-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}


.title-acquired-cards {
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    border-bottom: 1px solid white;
    font-size: 3rem;
    padding-bottom: .5rem;
    width: 80%;
    margin-bottom: 5rem;
}

.article-card-description div {
    width: 40rem;
}

.article-card-description img {
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    width: 25rem;
    height: 40vh;
}

.article-card-description p {
    text-align: justify;
    letter-spacing: .1rem;
    font-size: 1.1rem;
    text-indent: 20px;
}



.article-card-description h5 {
    letter-spacing: .1rem;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    padding: .5rem;
    margin-bottom: 1rem;
}

.Container-cards-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 6rem;
}

.Container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    width: 35rem;
    gap: 2rem;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    min-height: 20rem;
}

.Container-card h3 {
    padding: 1rem;
    border-bottom: 1px solid white;
    width: 100%;
}

.container-card-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container-delete-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    width: 53vw;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.container-delete-cards h5 {
    padding: .5rem;
    border-bottom: 1px solid white;
}

.box-input-button-delte-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}

.box-none-card-credit {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-radius: 17px;
    backdrop-filter: blur(0px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    background-color: #212529 !important;
    color: white;
    transition: all .2s;
}


.flip-card,
.flip-cards {
    background-color: transparent;
    width: 280px;
    height: 170px;
    perspective: 1000px;
}

.heading {
    position: absolute;
    letter-spacing: .2em;
    font-size: 0.7em;
    top: 2em;
    left: 18em;
}

.logo-numba-card {
    width: 7rem;
    position: absolute;
    top: .5em;
    left: 0.5em;
}

.logo-card-visa {
    width: 4.5em;
    position: absolute;
    top: 6.5em;
    left: 12em;
}

.chip {
    position: absolute;
    top: 2.8em;
    left: 1.5em;
}

.type-card-section {
    position: absolute;
    top: 6em;
    left: 13em;
}

.contactless {
    position: absolute;
    top: 3.5em;
    left: 14em;
}

.type-card-front {
    font-size: .7em;
    position: absolute;
    top: 9.5em;
    left: 20em;
}

.number {
    position: absolute;
    font-weight: bold;
    font-size: .9em;
    top: 5.8em;
    left: 1.5em;
    letter-spacing: 0.1em;
}

.valid_thru {
    position: absolute;
    font-weight: bold;
    top: 9.5em;
    font-size: .7em;
    left: 1.9em;
    letter-spacing: 0.1em;
}

.fromDate {
    position: absolute;
    font-weight: bold;
    font-size: 0.7em;
    top: 11.2em;
    left: 2.1em;
}

.thruDate {
    position: absolute;
    font-weight: bold;
    font-size: 0.7em;
    top: 11.2em;
    left: 11.5em;
}

.name {
    position: absolute;
    font-weight: bold;
    font-size: 0.7em;
    top: 13em;
    left: 2em;
    letter-spacing: 0.1em;
}

.strip {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 1.8em;
    top: 2em;

    background: repeating-linear-gradient(45deg,
            #303030,
            #303030 10px,
            #202020 10px,
            #202020 20px);
}

.mstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 8em;
    height: 1.5em;
    top: 5em;
    left: .8em;
    border-radius: 2.5px;
}

.sstrip {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 4.1em;
    height: 1.5em;
    top: 5em;
    left: 10em;
    border-radius: 2.5px;
}

.code {
    font-weight: bold;
    text-align: center;
    margin: .2em;
    color: black;
}


.flip-card-inner,
.flip-cards-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    border-radius: 17px;
    box-shadow: 25px 25px 50px #090909,
        -25px -25px 50px #252323;
    transform: scale(1.4) rotateY(180deg);
}

.flip-cards:hover .flip-cards-inner {
    border-radius: 17px;
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
    transform: scale(1.4);
}


.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}

.text-card-one {
    color: rgb(201, 201, 201);
    position: absolute;
    font-size: 0.5em;
    top: 15em;
    left: .5em;
    letter-spacing: 0.1em;
}


.gold {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background: url(https://cdn.wallpapersafari.com/23/18/RH9ua1.jpg);
    background-position: center;
    background-size: cover;
}


.titanium {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background: url(../images/luxury-abstract-background-with-golden-and-black-shapes-metal-texture-steel-background-vactor-design-illustration-free-vector.jpg);
    background-position: center;
    background-size: cover;
}

.silver {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREBGmx3jd_kPyqbj4hgCyOFPNOKb40yiU0xQ&usqp=CAU);
    background-position: center;
    background-size: cover;
}


.flip-card-back {
    transform: rotateY(180deg);
}



/*-------END CARDS----------*/


/*------------------------START ACCOUNT-------------------------*/


.container-general-select-account {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-single-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 3rem;
    backdrop-filter: blur(0px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(100, 100, 100, 0.5), inset 5px -5px 16px 0px rgba(100, 100, 100, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    color: white;
    padding: 2rem;
}

.big-box-account {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.form-filer-transaction {
    color: white;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    padding: 2rem;
    margin-top: 3rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.form-filer-transaction div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45rem;

}

.container-transactions-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    color: white;
    width: 100%;
}

.container-table-account {
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    width: 80%;
    padding: 2rem;
}

.container-table-account h1 {
    margin-bottom: 2rem;
    text-align: center;
    padding: .5rem;
    border-bottom: 1px solid white;
    width: 100%;
}

.head-table {
    font-size: 1.5rem;
}

.table-start {
    border-top-left-radius: 17px;
}

.table-end {
    border-top-right-radius: 17px;
}

.box-filter-pdf {
    width: 100%;
}

/*--------chart-------*/

/* .shadow {
      padding: 25px 20px;
    color: #090909 !important;
    border-radius: 17px;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
} */



/* .box-chart-account {
    margin-top: 3rem;
    padding: 2rem;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
} */



.box {
    color: black;
}

/*-----------chart-----------*/

/*    TABLE TO PDF */

/* .table-pdf-render {
    width: 50rem;
    height: 50rem;
    position: sticky;
    top: 1000rem;

} */
/* 
.pdf-table-none {
    display: none;
} */


/*    TABLE TO PDF */


/*-------------------------FINISH ACCOUNT---------------------------*/

/*-------------------------START CREATE CARD------------------------*/
.general-container-create-card {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.general-container-create-card h1 {
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    border-bottom: 1px solid white;
    font-size: 3rem;
    padding-bottom: .5rem;
    width: 80%;
}

.container-create-card {
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 5rem;
    width: 50rem;
    min-height: 20rem;
    border-radius: 20px;
    transition: all .3s;
}


.container-create-card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.article-createCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: white;
    margin-top: 4rem;
    padding: 1.5rem;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.text-createdCard {

    width: 40rem;
}

.text-createdCard h3 {
    margin-bottom: 1rem;
    letter-spacing: .1rem;
    padding: .5rem;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

.text-info-createCard {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-align: justify;
    text-indent: 20px;
}


.expired-card {
    width: 6rem;
    position: absolute;
    letter-spacing: .2em;
    top: 1.5em;
    left: 5.8em;
}


.article-createCard img {
    width: 30rem;
    height: 23rem;
    border-radius: 20px;
    box-shadow: -35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset 12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.container-select-card-create {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 0;
}

.select-card-create {
    color: #090909;
}


.flip-card-create {
    color: white;
    background-color: transparent;
    width: 350px;
    height: 220px;
    perspective: 1000px;
}

.heading-create {
    position: absolute;
    letter-spacing: .2em;
    font-size: 1em;
    top: 1.5em;
    left: 15em;
}

.logo-numba-card-create {
    width: 9rem;
    position: absolute;
    top: 1em;
    left: 0.9em;
}

.logo-card-visa-create {
    width: 6em;
    position: absolute;
    top: 7.5em;
    left: 15em;
}

.type-create-card {
    position: absolute;
    top: 12em;
    left: 16em;
}

.chip-create {
    position: absolute;
    top: 3.5em;
    left: 1.5em;
}

.contactless-create {
    position: absolute;
    top: 4.5em;
    left: 17em;
}

.number-create {
    position: absolute;
    font-weight: 600;
    font-size: 1.1em;
    top: 5.8em;
    left: 1.8em;
    letter-spacing: 0.1em;
}

.valid_thru-create {
    position: absolute;
    font-weight: bold;
    top: 8em;
    font-size: 1em;
    left: 1.9em;
    letter-spacing: 0.1em;
}

.fromDate-create {
    position: absolute;
    font-weight: bold;
    font-size: 1em;
    top: 9.8em;
    left: 2.1em;
}

.thruDate-create {
    position: absolute;
    font-weight: bold;
    font-size: 1em;
    top: 9.8em;
    left: 11em;
}

.name-create {
    position: absolute;
    font-weight: 600;
    font-size: 1.1em;
    top: 10.5em;
    left: 1.8em;
    letter-spacing: 0.1em;
}


.flip-card-inner-create {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


.flip-card-front-create {
    background-color: #00ff7735;
    box-shadow: 25px 25px 50px #090909,
        -25px -25px 50px #252323;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}

.text-card-one-create {
    color: rgb(201, 201, 201);
    position: absolute;
    font-size: 0.5em;
    top: 15em;
    left: .5em;
    letter-spacing: 0.1em;
}


.gold {
    box-shadow: 25px 25px 50px #090909,
        -25px -25px 50px #252323;
    background: url(https://cdn.wallpapersafari.com/23/18/RH9ua1.jpg);
    background-position: center;
    background-size: cover;
}


.titanium {
    box-shadow: 25px 25px 50px #090909,
        -25px -25px 50px #252323;
    background: url(../images/luxury-abstract-background-with-golden-and-black-shapes-metal-texture-steel-background-vactor-design-illustration-free-vector.jpg);
    background-position: center;
    background-size: cover;
}

.silver {
    box-shadow: 25px 25px 50px #090909,
        -25px -25px 50px #252323;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREBGmx3jd_kPyqbj4hgCyOFPNOKb40yiU0xQ&usqp=CAU);
    background-position: center;
    background-size: cover;
}


/*-------------------------END CREATE CARD------------------------*/

/*-------------------------START TRANSFERS---------------------------*/

.container-general-transfers {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container-general-transfers h1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    border-bottom: 1px solid white;
    font-size: 3rem;
    padding-bottom: .5rem;
    width: 80%;
}

.container-transfers-application {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    min-height: 120vh;

}


.transfer-full-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    padding: 2rem;
    width: 35rem;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: 35px 35px 68px 0px rgba(21, 21, 40, 0.5), inset -12px -12px 16px 0px rgba(21, 21, 40, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.transfer-balance-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
}

.transfer-balance-total h3 {
    padding: .5rem;
    border-bottom: 1px solid white;
    width: 80%;
}

.balance-and-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.transfer-balance-total img {
    width: 6rem;
    height: 6rem;
}



.container-account-transfer {
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    box-shadow: 25px 25px 50px #090909,
        -25px -25px 50px #252323;
    border-radius: 22px;
    transition: all .3s;
}

.box-account-transfer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    height: 100%;
    border-radius: 17px;
    background: linear-gradient(145deg, #151414, #191818);
    color: white;
    width: 350px;

}

.form-transfers {
    height: 32rem;
    padding: 2rem;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: 35px 35px 68px 0px rgba(21, 21, 40, 0.5), inset -12px -12px 16px 0px rgba(21, 21, 40, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}


/* .box-account-transfer:hover {
    transform: scale(0.97);
    border-radius: 20px;
}

.container-account-transfe:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
} */

/*--------------------------END TRANSFERS-------------------------*/

/*-------------------------START APPLICATION LOAN-------------------------*/

.container-gral-application-loan {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    gap: 2rem;
}


.container-gral-application-loan h1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    border-bottom: 1px solid white;
    font-size: 3rem;
    padding-bottom: .5rem;
    width: 80%;
}

.container-gral-application-loan section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
    padding: 5rem 2rem;
    width: 80vw;
    border-bottom: 1px solid white;
}

.container-application-loan {
    padding: 2rem;
    border-radius: 20px;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: 35px 35px 68px 0px rgba(21, 21, 40, 0.5), inset -12px -12px 16px 0px rgba(21, 21, 40, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: white;
    width: 100%;
}



.img-personal-loan-1 {
    border-radius: 20px;
    height: 20rem;
    width: 25rem;
}

.img-personal-loan-2 {
    border-radius: 20px;
    height: 20rem;
    width: 25rem;
}

.img-personal-loan-3 {
    border-radius: 20px;
    height: 20rem;
    width: 22rem;
}

.text-personal-loan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    padding: 1rem;
    gap: 1rem;

}

.button-application-loans {
    display: flex;
    justify-content: flex-end;
}

.internal-text-personal-loan {
    display: flex;
    flex-direction: column;
}

.internal-text-personal-loan h2 {
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    padding: .5rem .5rem;
}

.internal-text-personal-loan p {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-align: justify;
    text-indent: 10px;
}

.container-descriptions-loans {

    width: 95%;
}

.form-application-loan {
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: 35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset -12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    margin-bottom: 4rem;
    transition: 1000ms;
    padding: 3rem;
    border-radius: 10px;
}

.form-application-loan:hover {
    transform: scale(1.01);
    transition: 1000ms;
}


.pro-loans {
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: 35px 35px 68px 0px rgba(21, 21, 40, 0.5), inset -12px -12px 16px 0px rgba(21, 21, 40, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    color: white;
    text-align: center;
    line-height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pro-loans p {
    text-align: center;
    line-height: 100%;
}

.form-application-loan h2 {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 2rem;
}



.installment-amount {
    font-size: 1.1rem;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    box-shadow: 35px 35px 68px 0px rgba(0, 0, 0, 0.5), inset -12px -12px 16px 0px rgba(0, 0, 0, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    padding: 1rem;
    margin-bottom: 0;
}





@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.a-btn-aplication {
    text-decoration: none;
}

.btn-application-loan {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(103deg, #007ecce0 0%, #0011cc 24%);
    padding: 10px 30px;
    border: solid #0066cc 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    transition: 687ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btn-application-loan:hover {

    transition: 687ms;
    padding: 10px 39px;
    transform: translateY(-0px);
    background: linear-gradient(103deg, #007ecce0 0%, #0011cc 24%);
    box-shadow: #1b253d -3px -1px 50px 5px;
    color: #ffffff;
    border: solid 1px #48cae4;
}






/*-------------------------END APPLICATION LOAN-------------------------*/

/*-------------------------------ADMIN----------------------------------*/

.form-section-admin-createLoan {
    color: white;
    width: 50%;
}

.form-label-admin-1 {
    width: 30rem;
}

.form-label-admin-2 {
    width: 30rem;
}

.form-label-admin-3 {
    width: 30rem;
}

.form-label-admin-4 {
    width: 30rem;
}

/*-------------------------------ADMIN----------------------------------*/

/* -------------------------START FOOTER-------------------------- */

footer {
    font-size: 1.2rem;
    min-height: 5rem;
    background-image: url(../images/Hexagon\ \(1\).svg);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-inline: 1rem;
    align-items: center;
    color: white;

}

.footer-logo {
    display: flex;
}

.footer-img-logo {
    width: 5rem;
}

.footer-img-textologo {
    width: 10rem;
}

.redes-footer {
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
}

.icono-facebook {
    width: 3rem;
}

.icono-facebook:hover {
    transform: scale(1.1);
}

.icono-instagram {
    width: 3rem;
}

.icono-instagram:hover {
    transform: scale(1.1);
}

.icono-github {
    width: 3rem;
}

.icono-github:hover {
    transform: scale(1.1);
}


/* -------------------------end footerr-------------------------- */

@media(min-width:960px) {
    .article-card-description {
        width: 80%;
    }
}


@media(max-width:1025px) {
    .containter-loans {
        gap: 1rem;
    }

    .box-loans {
        width: 100%;
    }

    .container-gral-application-loan section {
        width: 90%;
    }
}


@media(max-width:769px) {
    .header-logo {
        width: 100%;
        justify-content: center;
        border-bottom: 1px solid #1a1d21;
    }

    .nav-menu {
        justify-content: flex-start;
    }

    .container-loans-and-cards {
        flex-wrap: wrap;
    }

    .container-accounts {
        justify-content: center;
    }

    .box-account {
        width: 100%;
    }

    .container-loans {
        min-width: 100%;
        flex-wrap: wrap;

    }

    .container-loans-and-title {

        width: 90%;
    }

    .container-cards {
        width: 100%;
    }

    td {
        text-align: center;
    }

    th {
        text-align: center;
    }

    .container-card-section {
        flex-wrap: wrap;
        gap: 4rem;
    }

    .container-cards-render {
        flex-wrap: wrap;
    }

    .container-general-transfers {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .form-transfers {
        width: 63vw;
    }

    .form-select {
        width: 100%;
    }

    .transfer-balance-total-title {
        align-items: center;
    }

    .balance-chart-main {
        flex-direction: column;
        align-items: center;
        gap: 3.5rem;
    }

    .container-total-balance {
        width: 100%;
    }

    .container-gral-application-loan section {
        width: 100%;
    }



    .exchanges-home {
        width: 90%;
    }

    .container-loans,
    .box-loans,
    .box-loan {
        justify-content: space-around;
        width: 70vw;
    }

    .box-exchange {
        width: 80%;
    }

    .container-create-card {
        padding: 2rem;
        width: 80%;
    }

    .container-descriptions-loans {
        flex-wrap: wrap;
    }

    .container-application-loan {
        flex-direction: column;
    }



    .transfer-full-information {
        width: 80%;
    }

    .box-filter-pdf {
        display: flex;
        flex-direction: column;
    }

    .box-filter-pdf div {
        border: 1px solid white;
        border-radius: 5px;
        padding: 1rem;
        margin-bottom: 2rem;
        width: 50%;
    }

    .form-filer-transaction {
        width: 95%;
    }

    .container-table-account {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-bottom: 1.5rem;
        width: 80vw;
    }

    .container-transactions-account {
        padding: 0;
    }

    .box-chart-account {
        width: 90%;
    }

    .container-table-account table {
        width: 20rem;
    }

    .big-box-account {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

}


@media(max-width:500px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .container-table-account {
        width: 100%;
    }

    .container-single-account {
        padding: 0;
        padding-bottom: 2rem;
        width: 100%;
    }




    .big-box-account {
        padding-top: 2rem;
        width: 95%;
        text-align: center;
    }

    /*
    .container-account {
        width: 100%;
    } */
    .box-account {
        width: 20rem;
    }

    .head-table {
        font-size: 1rem;
    }

    .container-main-transactions table {
        width: 100% !important;

    }

    .container-main-transactions {
        padding-left: 0;
        padding-right: 0;
    }

    td {
        text-align: center;
    }

    .table-and-title {
        width: 100%;
    }

    #chart {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /* .box-only-accounts {
        gap: 2rem;
    } */

    .container-accounts {
        padding: 0;
    }




    /*-----admin--------------*/

    .form-section-admin-createLoan {
        width: 100%;
    }


    /*--------cards----------*/
    .Container-cards-section {
        width: 19rem;
    }

    .article-card-description {
        width: 100%;
    }

    .article-card-description div {
        width: 100%;
    }

    .article-card-description img {
        width: 100%;
    }

    .container-delete-cards {
        width: 90%;
    }

    /*----------created card---------*/

    .article-createCard {
        width: 100%;
    }

    .article-createCard img {
        width: 100%;
        height: 15rem;

    }

    .container-create-card {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
        width: 100%;
    }

    /*-----application loan-------*/
    .img-personal-loan-1,
    .img-personal-loan-2,
    .img-personal-loan-3 {
        width: 90%;
    }

    .container-gral-application-loan section {
        padding: 0;
        padding-bottom: 2rem;
        width: 100%;
    }

    .container-application-loan {
        padding: 0;
        width: 100%;
    }

    .text-personal-loan {
        width: 100%;
    }

    /*-------transfer-----*/
    .transfer-full-information {
        width: 100%;
    }

    .form-transfers {
        width: 100%;
    }
}



.continue-application {
    --color: #fff;
    --background-hover: #3A4059;
    --folder: #F3E9CB;
    --folder-inner: #BEB393;
    --paper: #FFFFFF;
    --paper-lines: #BBC1E1;
    --paper-behind: #E1E6F9;
    --pencil-cap: #fff;
    --pencil-top: #275EFE;
    --pencil-middle: #fff;
    --pencil-bottom: #5C86FF;
    --shadow: rgba(13, 15, 25, .2);
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 19px;
    -webkit-tap-highlight-color: transparent;
    padding: 17px 29px 17px 69px;
    transition: 0.3s;
    color: var(--color);
    background: var(--bg, var(--background));
}

.continue-application>div {
    top: 0;
    left: 0;
    bottom: 0;
    width: 53px;
    position: absolute;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
    background: var(--background-left);
}

.continue-application>div .folder {
    width: 23px;
    height: 27px;
    position: absolute;
    left: 15px;
    top: 13px;
}

.continue-application>div .folder .top {
    left: 0;
    top: 0;
    z-index: 2;
    position: absolute;
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application>div .folder .top svg {
    width: 24px;
    height: 27px;
    display: block;
    fill: var(--folder);
    transform-origin: 0 50%;
    transition: transform 0.3s ease var(--fds, 0.45s);
    transform: perspective(120px) rotateY(var(--fr, 0deg));
}

.continue-application>div .folder:before,
.continue-application>div .folder:after,
.continue-application>div .folder .paper {
    content: "";
    position: absolute;
    left: var(--l, 0);
    top: var(--t, 0);
    width: var(--w, 100%);
    height: var(--h, 100%);
    border-radius: 1px;
    background: var(--b, var(--folder-inner));
}

.continue-application>div .folder:before {
    box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
    transform: translateX(var(--fx, 0));
    transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application>div .folder:after,
.continue-application>div .folder .paper {
    --l: 1px;
    --t: 1px;
    --w: 21px;
    --h: 25px;
    --b: var(--paper-behind);
}

.continue-application>div .folder:after {
    transform: translate(var(--pbx, 0), var(--pby, 0));
    transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application>div .folder .paper {
    z-index: 1;
    --b: var(--paper);
}

.continue-application>div .folder .paper:before,
.continue-application>div .folder .paper:after {
    content: "";
    width: var(--wp, 14px);
    height: 2px;
    border-radius: 1px;
    transform: scaleY(0.5);
    left: 3px;
    top: var(--tp, 3px);
    position: absolute;
    background: var(--paper-lines);
    box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
}

.continue-application>div .folder .paper:after {
    --tp: 6px;
    --wp: 10px;
}

.continue-application>div .pencil {
    height: 2px;
    width: 3px;
    border-radius: 1px 1px 0 0;
    top: 8px;
    left: 105%;
    position: absolute;
    z-index: 3;
    transform-origin: 50% 19px;
    background: var(--pencil-cap);
    transform: translateX(var(--pex, 0)) rotate(35deg);
    transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application>div .pencil:before,
.continue-application>div .pencil:after {
    content: "";
    position: absolute;
    display: block;
    background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
    width: var(--w, 5px);
    height: var(--h, 20px);
    border-radius: var(--br, 2px 2px 0 0);
    top: var(--t, 2px);
    left: var(--l, -1px);
}

.continue-application>div .pencil:before {
    -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
    clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
}

.continue-application>div .pencil:after {
    --b: none;
    --w: 3px;
    --h: 6px;
    --br: 0 2px 1px 0;
    --t: 3px;
    --l: 3px;
    border-top: 1px solid var(--pencil-top);
    border-right: 1px solid var(--pencil-top);
}

.continue-application:before,
.continue-application:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background: var(--color);
    transform-origin: 9px 1px;
    transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
    top: 26px;
    right: 16px;
    transition: transform 0.3s;
}

.continue-application:after {
    --r: 45deg;
}

.continue-application:hover {
    --cx: 2px;
    --bg: var(--background-hover);
    --fx: -40px;
    --fr: -60deg;
    --fd: .15s;
    --fds: 0s;
    --pbx: 3px;
    --pby: -3px;
    --pbd: .15s;
    --pex: -24px;
}




.button-create-card {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.button-create-card:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.button-create-card::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.button-create-card::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.button-create-card:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}